@model BaseballLeague.MVC.Models.RosterViewModel
@{
    ViewBag.Title = "PlayersOnTeam";
}

<h2>@Model.TeamName's Roster</h2>

<button class="btn btn-primary col-lg-offset-10" id="btnShowSignFreeAgent">Sign Free Agent</button>
<input type="hidden" value=@Model.TeamID id="currentTeamID"/>
<div class="container">
    <table class="table" id="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Jersey Number</th>
            <th>Last Year's Batting Avg.</th>
            <th>Main Position</th>
            <th>Secondary Position</th>
            <th>Years Played</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Players)
        {
            <tr>
                <td>@(Model.Players.IndexOf(p) + 1)</td>
                <td>@p.Name</td>
                <td>@p.JerseyNumber</td>
                <td>@p.LastYearBA</td>
                <td>@p.PrimaryPosition</td>
                <td>@p.SecondaryPosition</td>
                <td>@p.YearsPlayed</td>
                <td><button class="btn btn-primary btn-xs btnTradePlayer" value="@p.PlayerID">Trade</button></td>
                <td><button class="btn btn-primary btn-xs btnReleasePlayer" value="@p.PlayerID">Release</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@{ Html.RenderAction("_TradePlayerModal", "Team");}
@Html.Partial("_ReleasePlayerModal");
@{ Html.RenderAction("_SignFreeAgentModal", "Team", new {TeamID = @Model.TeamID, TeamName = @Model.TeamName});}


@section Scripts{
    <script type="text/javascript" src="~/Scripts/app/viewRoster.js"></script>
}