@model BaseballLeague.MVC.Models.RosterViewModel
@{
    ViewBag.Title = "PlayersOnTeam";
}

<h2>Team Roster</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Jersey Number</th>
                <th>Last Year's Batting Avg.</th>
                <th>Main Position</th>
                <th>Secondary Position</th>
                <th>Years Played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Players)
            {
                <tr>
                    @*<td>@(String.Format("{0} {1}", p.FirstName, p.LastName))</td>*@
                    <td>@p.Name</td>
                    <td>@p.JerseyNumber</td>
                    <td>@p.LastYearBA</td>
                    <td>@p.PrimaryPosition</td>
                    <td>@p.SecondaryPosition</td>
                    <td>@p.YearsPlayed</td>
                </tr>
            }
        </tbody>
    </table>
</div>