@model BaseballLeague.MVC.Models.PlayersVM

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<div class="form-group">
    <div class="col-lg-2">
        @{ Html.RenderAction("_AddPlayerModal", "Player"); }
    </div>
</div>

@{Html.RenderAction("_DeletePLayerModal", "Player");}

<div>
    <select class="form-control col-lg-offset-9 col-lg-4" title="Select a Team" id="team-select">
        <option value="All">All</option>
        @foreach (var l in Model.TeamsDropdown)
        {
            <option value=@l.Value>@l.Text</option>
        }
    </select>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Number</th>
        <th>Team</th>
        <th>Batting Average (last season)</th>
        <th>Years Played</th>
        <th>Primary Position</th>
        <th>Secondary Position</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="searchable" id="inputPlayers">
    @{ int playerCount = 1; }
    @foreach (var player in Model.Players)
    {
        <tr value="@player.PlayerID" class="@player.TeamID">
            <td>@playerCount</td>
            <td>@player.Name</td>
            <td>@player.JerseyNumber</td>
            <td>@player.TeamName</td>
            <td>@player.LastYearBA.ToString().Substring(1)</td>
            <td>@player.YearsPlayed</td>
            <td>@player.PrimaryPosition</td>
            <td>@player.SecondaryPosition</td>
            <td class="btnShowDeletePlayerModal"><button class="btn btn-xs btn-primary">Delete</button></td>

            @{ playerCount++; }
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script src="~/Scripts/app/addPlayer.js"></script>
    <script src="~/Scripts/app/filterPlayersByTeamDropdown.js"></script>
    <script src="~/Scripts/app/deletePlayer.js"></script>
}
